* {
   
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.gridSelector {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 700px;
    align-items: center;
    justify-content: center;

}

.title{
    margin-top: 50px;
    padding: 15px;
    display: flex;
  
    align-items: center;
    justify-content: center;
}

.grid {

   
    border: 1px solid black;
    border-radius: 5px;

}


.gridContainer {

    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 2px solid black;
    border-radius: 20px;
    height: 500px;
    width: 500px;

}

.controls {
    
   
    width: 300px;
    border-radius: 4px;
    padding: 30px;
}

input[type=range] {
    height: 26px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #50555C;
    background: #50555C;
    border-radius: 14px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: #529DE1;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #50555C;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #50555C;
    background: #50555C;
    border-radius: 14px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: #529DE1;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #50555C;
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #50555C;
  }
  input[type=range]::-ms-fill-upper {
    background: #50555C;
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #50555C;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: #529DE1;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #50555C;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #50555C;
  }

button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: block;
    font-weight: 500;
    font-size: 14px;
    outline: none;
    border-radius: 20px;
    box-shadow: 2px;
    padding: 9px 15px;
    width: 65%;
    margin-bottom: 10px;
    cursor: pointer;  

}

.active {
    background-color: black;
    color: white;
}

button:hover,
input[type='color']:hover {
  transform: scale(1.05);
}

.colorBox {
    height: 36px;
    overflow: hidden;
    border-radius: 20px;
    width: 65%;
    margin-bottom: 10px;
}

#color {

    display: block;
    outline: none;
    border: none;
    /* border: 1px solid rgb(62, 166, 255); */
    background-color: rgba(0, 0, 0, 0);
    border-radius: 2px;
    width: 200%;
    /* padding: 4px 8px; */
    height: 200%;
    transform: translateX(-10px) translateY(-10px);
}

.rangeReturn {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;

}