
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: black;
}


.body {
    display: flex;
    flex-direction: row;

    
}

.title {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    border: 1px solid black;


}

    
    
.buttons, .buttons2 {
    display: flex;
    width: 100px;
    padding: 16px;
    flex-direction: column; 
    gap: 20px;
    margin-top: 50px;
}

.gridSelector {
    display: flex;
    flex-direction: column;
}

.rangeSelector {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {

    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    
}

button, #color {
    width: 90px;
    height: 45px;
}


.gridContainer {

  display: inline-grid;
  align-items: right;
  justify-content: right;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(16, 2fr);
  border: 5px solid white;
  border-radius: 20px;
  height: 400px;
  width: 400px;

}